/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #47b2e4;
}

a:hover {
    color: #73c5eb;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #47b2e4;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #209dd8;
    color: #fff;

}

/*--------------------------------------------------------------
# Header and Navigation Menu
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;


}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline;
}


/*--------------------------------------------------------------
# Summary Section
--------------------------------------------------------------*/

.fa-play-circle{
    font-size: x-large;
}
/*--------------------------------------------------------------
# introduction Section
--------------------------------------------------------------*/
#introduction {
    width: 100%;
    height: 80vh;
    background: #37517e;
}

#introduction .container {
    padding-top: 72px;
}

#introduction h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#introduction h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

#introduction .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
}

#introduction .btn-get-started:hover {
    background: #209dd8;
}

#introduction .btn-watch-video {
    font-size: 16px;
    display: inline-block;
    padding: 10px 0 8px 40px;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    position: relative;
}

#introduction .btn-watch-video i {
    color: #fff;
    font-size: 32px;
    position: absolute;
    left: 0;
    top: 7px;
    transition: 0.3s;
}

#introduction .btn-watch-video:hover i {
    color: #47b2e4;
}

#introduction .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #introduction {
        height: 100vh;
        text-align: center;
    }
    #introduction .animated {
        -webkit-animation: none;
        animation: none;
    }
    #introduction .introduction-img {
        text-align: center;
    }
    #introduction .introduction-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #introduction h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #introduction h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #introduction .introduction-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #introduction .introduction-img img {
        width: 80%;
    }
    #introduction .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
    #introduction .btn-watch-video {
        font-size: 16px;
        padding: 10px 0 8px 40px;
        margin-left: 20px;
    }
    #introduction .btn-watch-video i {
        font-size: 32px;
        top: 7px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f3f5fa;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

.main-content .content {
    padding: 60px 100px 0 100px;
}

.main-content .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
}

.main-content .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.main-content .content p {
    font-size: 15px;
    color: #848484;
}

.main-content .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-content .accordion-list {
    padding: 0 100px 60px 100px;
}

.main-content .accordion-list ul {
    padding: 0;
    list-style: none;
}

.main-content .accordion-list li + li {
    margin-top: 15px;
}

.main-content .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.main-content .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
}

.main-content .accordion-list span {
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}

.main-content .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.main-content .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.main-content .accordion-list .icon-show {
    display: none;
}

.main-content .accordion-list a.collapsed {
    color: #343a40;
}

.main-content .accordion-list a.collapsed:hover {
    color: #47b2e4;
}

.main-content .accordion-list a.collapsed .icon-show {
    display: inline-block;
}

.main-content .accordion-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1024px) {
    .main-content .content, .main-content .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .main-content .img {
        min-height: 400px;
    }
    .main-content .content {
        padding-top: 30px;
    }
    .main-content .accordion-list {
        padding-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .main-content .img {
        min-height: 200px;
    }
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/
.left-container{
    margin-top: 3rem;
    width: 75%;
}

.html-pic{
    width: 60%;
    margin-left: 15%;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 14px;
    background: #37517e;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #37517e;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #47b2e4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
    background: #209dd8;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #47b2e4;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

#footer .copyright {
    float: left;
}

#footer .credits {
    float: right;
    font-size: 13px;
}

#footer .credits a {
    transition: 0.3s;
}

@media (max-width: 768px) {
    #footer .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #footer .copyright, #footer .credits {
        text-align: center;
        float: none;
    }
    #footer .credits {
        padding-top: 4px;
    }
}
